---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Page about">
    <section class="initial-page-about">
        <h1 class="initial-title">
            Welcome to the page "About"
        </h1>
        <p class="intial-paragraph">
            lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            At soluta sint animi cupiditate tenetur accusantium asperiores non maxime, beatae ab quaerat voluptatibus doloremque! Voluptas accusamus 
            non aut aperiam dignissimos sint!
        </p>
        <p class="intial-paragraph">
            lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            At soluta sint animi cupiditate tenetur accusantium asperiores non maxime, beatae ab quaerat voluptatibus doloremque! Voluptas accusamus 
            non aut aperiam dignissimos sint!. lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            At soluta sint animi cupiditate tenetur accusantium asperiores non maxime, beatae ab quaerat voluptatibus doloremque! Voluptas accusamus 
            non aut aperiam dignissimos sint!
        </p>
    </section>

    <section class="section-about-card-principal">
        <div class="about-main-card">
            <div class="about-icon-section">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                    <path d="M10 12h4v4h-4z" />
                </svg>
            </div>
            <div class="about-body-section">
                <header class="about-body-title">
                    Quality properties
                </header>
                <div class="about-body-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum saepe enim aliquid ea sunt, 
                    provident vel, asperiores odit vero, ab nisi recusandae laborum? Quas soluta accusantium saepe hic a quisquam!
                </div>
            </div>
        </div>
        <div class="about-main-card">
            <div class="about-icon-section">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                    <path d="M10 12h4v4h-4z" />
                </svg>
            </div>
            <div class="about-body-section">
                <header class="about-body-title">
                    Quality properties
                </header>
                <div class="about-body-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum saepe enim aliquid ea sunt, 
                    provident vel, asperiores odit vero, ab nisi recusandae laborum? Quas soluta accusantium saepe hic a quisquam!
                </div>
            </div>
        </div>
        <div class="about-main-card">
            <div class="about-icon-section">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                    <path d="M10 12h4v4h-4z" />
                </svg>
            </div>
            <div class="about-body-section">
                <header class="about-body-title">
                    Quality properties
                </header>
                <div class="about-body-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum saepe enim aliquid ea sunt, 
                    provident vel, asperiores odit vero, ab nisi recusandae laborum? Quas soluta accusantium saepe hic a quisquam!
                </div>
            </div>
        </div>
        <div class="about-main-card">
            <div class="about-icon-section">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                    <path d="M10 12h4v4h-4z" />
                </svg>
            </div>
            <div class="about-body-section">
                <header class="about-body-title">
                    Quality properties
                </header>
                <div class="about-body-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum saepe enim aliquid ea sunt, 
                    provident vel, asperiores odit vero, ab nisi recusandae laborum? Quas soluta accusantium saepe hic a quisquam!
                </div>
            </div>
        </div>
    </section>        

</Layout>


<style>

.initial-page-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.initial-title{
    color: #b0b9c9;
}

.intial-paragraph{
    color: #b0b9c9;
    padding: 10px;
    border-bottom: 1px solid #b0b9c9;
    background-color: rgb(15, 17, 20);
}



.section-about-card-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-main-card{
    display: flex;
    width: 440px;
    gap: 10px;
    background-color: #343a46;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}

.about-icon-section{
background-color: #434d61;
display: flex;
align-items: center;
justify-content: center;
width: 60px;
height: 60px;
border-radius: 50%;
}

.about-body-section{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

svg{
    width: 60px;
    height: 50px;
}
.about-body-title{
    color: #b0b9c9;
    font-size: 25px;
}

.about-body-text{
    color: #eceef2;
}

</style>
