
<header >
    <nav class="nav">
        <div class="title-nav">
            ROSALES
        </div>
        <div >
            <ul class="da-parte-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<style>
    header {
        background-color: rgba(0, 0, 0, 0.986);
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1000px;
        background: transparent;
    }
    .title-nav{
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px;
    }

    .da-parte-nav{
        display: flex;
        justify-content: space-between;
        width: 180px;
    }
    li{
        list-style: none;
    }
    li a{
        text-decoration: none;
        color: white;
    }
</style>
